.site {
  height: 100%;
  overflow: auto;
}

.siteShadow {
  max-width: 918px;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: 70px;
  top: 61px;
  background: linear-gradient(rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 100%);
}

.siteLayout {
  background: linear-gradient(to bottom, #272727 0%, #000000 100%) !important;
  max-width: 920px;
  border-left: 1px solid rgba(230, 204, 142, 0.35);
  border-right: 1px solid rgba(230, 204, 142, 0.35);

  &--mobile {
    border-left: none;
    border-right: none;
  }
}

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  max-width: 918px;
  height: 61px;
  background: rgba(59, 59, 59, 0.90);
  border-bottom: 1px solid rgba(230, 204, 142, 0.35);
}

.content {

  &--desktop {
    height: 100%;
    margin-top: 56px;
    padding: 0;
  }

  &--mobile {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .35);
  font-size: 10px;
}

.siteMenu {
  width: calc(100% - 60px);
  z-index: 1001
}

.siteLogo {
  width: 60px;

  img {
    width: 60px;
  }
}

.company {
  color: rgba(255, 255, 255, .95);
  text-align: right;
  position: absolute;
  right: 19px;
  font-size: 13px;
  z-index: 1000;

  &--mobile {
    font-size: 13px;
  }
}

.tag {
  color: rgba(129, 129, 129, 1);
  text-align: left;
  position: absolute;
  left: 19px;
  font-size: 13px;
  z-index: 1002;

  &--mobile {
    font-size: 13px;
  }
}

.modalTitle {
  color: rgba(230, 204, 142, 1);
}

.subscribe {
  color: rgb(131, 184, 201);
  cursor: pointer;
  text-decoration: underline;
}