.cancelButton {
  padding-top: 2px;
  margin-right: 8px;
}

.signUpButton {
  background: rgb(40, 162, 199);
  border-color: rgb(40, 162, 199);
  padding-top: 2px;
}

.codeSentMessage {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,.75);
}

.codeSentEmail {
  margin-top: 6px;
  color: rgb(230, 204, 142);
}

.resendMessage {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,.75);
}

.confirmActions {
  padding-top: 12px;
}

.confirmAction {
  margin-bottom: 0;
}

.formInput {
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.5);
}

.codeInput {
  margin-top: 12px;
}