.menu {
  z-index: 1001;
  &--desktop {

  }

  &--mobile {
    background: rgba(59, 59, 59, 0.9);
    border: 1px solid rgba(230, 204, 142, 0.35);
    color: rgb(131, 184, 201);
  }
}

.mobileNavButton {
  z-index: 1100;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(230, 204, 142, 0.35);
  color: rgba(230, 204, 142, 1);
  padding-top: 3px;
  width: 150px;

  &:active, &:hover {
    @extend .mobileNavButton;
  }
}

.mobileMenuIcon {
  float: left;
  margin-top: 2px;
}