//  ----------------------------------------------------------------------
//  COLORS
//  ----------------------------------------------------------------------

// stylelint-disable color-no-hex
$red:          #cf5150;
$pink:         #ad66b3;
$orange:       #f09653;
$yellow:       #fff7e0;
$green:        #4e9b66;
$blue---xdark: #171e44;
$blue---dark:  #242d62;
$blue:         #1867d1;

$black:         #222529;
$grey---dark:   #505258;
$grey---blue:   #3a4b54;
$grey:          #bdbdbd;
$grey---light:  #dadada;
$grey---xlight: #f3f6f8;
// stylelint-enable color-no-hex


$border-color: $grey---light;




//  ----------------------------------------------------------------------
//  FONT SIZES
//  ----------------------------------------------------------------------

$font-size---xlarge: 24px;
$font-size---large:  18px;
$font-size---small:  14px;
$font-size---xsmall: 12px;




//  ----------------------------------------------------------------------
//  PROPERTIES
//  ----------------------------------------------------------------------

$border-w: 1px;
$border: $border-w $border-color solid;
$border-radius---large: 12px;
$border-radius:         8px;
$border-radius---small: 4px;

$box-shadow: 0 2px rgba($grey---blue, 0.1);

$color: $black;

$font: open sans;

//$font-size: 16px;
$font-size: 18px;

$line-height:         1.625;
$line-height---small: 1.4;

$z-index---Header:       3;
$z-index---tooltip:      2;
$z-index---Notification: 1;




//  ----------------------------------------------------------------------
//  COMPONENTS
//  ----------------------------------------------------------------------
