@import '~styles/app';

.contact {
  &--mobile {
    margin-top: 60px;
  }

  &--desktop {
    margin-top: 60px;
  }
}

.bodyText {

  &--mobile {
    padding: 0 20px 18px;
    @include font-size(13px);
    line-height: 15px;
    color: rgba(255, 255, 255, 0.60);
    margin-top: -18px;
  }

  &--desktop {
    padding: 0 20px 18px;
    @include font-size(13px);
    line-height: 15px;
    color: rgba(255, 255, 255, 0.60);
  }

}