@import '~styles/app';

.driver {
  position: relative;
  max-width: 1200px;
  margin: 30px auto 0 -30%;

  &--mobile {
    max-width: 655px;
    margin: 30px auto 0 -35%;
    object-fit: scale-down;
  }
}

.homeHeader {
  position: relative;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  top: -30px;
  font-size: 15px;
  font-weight: 500;
}

.homeCopy {

  &--mobile {
    background: rgb(255, 255, 255);
    margin-top: -40%
  }

  &--desktop {

  }
}

.homeText {

  &--mobile {
    padding: 0 20px 18px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.60);
    margin-top: -18px;
  }

  &--desktop {
    padding: 0 20px 18px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.60);
  }

}