@import '~styles/app';

.homeMain {
  height: 100%;
  width: 100%;
  &--desktop {


  }
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .15;
}

.driver {
  position: relative;
  max-width: 1200px;
  margin: 30px auto 0 -30%;

  &--mobile {
    max-width: 800px;
    margin: 30px auto 0 -35%;
    object-fit: scale-down;
  }
}

.desktopDriver {
  position: relative;
  overflow: hidden;
  display: block;
  width: 50%;
  margin: -3% 0 0 -2%;
  float: left;
}

.homeHeader {
  position: absolute;

  &--desktop {
    position: relative;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    @include font-size(20px);
    font-weight: 500;
  }

  &--mobile {
    position: relative;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    padding: 0 18px 30px;
    @include font-size(17px);
    font-weight: 500;

  }

}

.home {
  position: absolute;
  top: 24px;
  padding: 0 12px;

  .homeCopy {
    text-align: center;
  }
}


.ataGlance {
  padding: 24px;
  cursor: pointer;

  .glanceContent {
    background: rgba(0, 0, 0, .55);
    min-height: 300px;
    border: 1px solid rgba(131, 184, 201, 0.35);
    padding: 20px;

    &--mobile {
      width: 100%;
    }

    .header {
      color: rgba(255, 255, 255, 0.85);
      @include font-size(17px);
      font-weight: 500;
      margin-bottom: 24px;
      text-align: center;
    }

    .body {
      color: rgba(255, 255, 255, 0.55);
      @include font-size(14px);
      font-weight: 100;
    }

    .cta {
      margin-top: 30px;
      color: rgba(40, 162, 199, 0.85);
      @include font-size(17px);
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.homeText {

  &--mobile {
    padding: 0 20px 18px;
    @include font-size(13px);
    line-height: 18px;
    color: rgba(255, 255, 255, 0.70);
    margin-top: -18px;
  }

  &--desktop {
    padding: 0 20px 18px;
    @include font-size(15px);
    line-height: 20px;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
  }

}

.desktopRow {
  margin-top: 90px;
  max-width: 920px;
}

.tagline {
  width: 100%;
  @include font-size(13px);
  font-weight: 800;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-top: 12px;

  &--mobile {
    width: 100%;
    @include font-size(13px);
    font-weight: 800;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
  }
}