@import '../../styles/app';

.productsMain {
  color: rgba(255, 255, 255, 0.85);
  padding: 0 20px;
  margin-top: 70px;
  max-width: 920px;

  .productsMenu {
    text-align: center;

    .menuItem {
      color: rgb(145, 199, 216);
      cursor: pointer;
      @include font-size(16px);

      &---active {
        color: rgba(230, 204, 142, 1);
      }

      .divider {
        color: rgb(145, 199, 216);
        margin: 0 10px;
      }
    }
  }
}

.productCard {
  display: inline;

  &---inactive {
    display: none;
    visibility: hidden;
  }
}