.cancelButton {
  padding-top: 2px;
}

.signUpButton {
  background: rgb(40, 162, 199);
  border-color: rgb(40, 162, 199);
  padding-top: 2px;
}

.formInput {
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.5);
}

.contactForm {
  margin: 0 24px;
}