@import '../../styles/mixins';


.tech {
  padding: 24px;
  cursor: pointer;
  margin-top: 60px;

  .techContent {
    background: rgba(0, 0, 0, .55);
    min-height: 300px;
    border: 1px solid rgba(131, 184, 201, 0.35);
    padding: 20px;

    &--mobile {
      width: 100%;
    }

    .header {
      color: rgba(255, 255, 255, 0.85);
      @include font-size(17px);
      font-weight: 500;
      margin: 0 0 24px 0;
      text-align: center;

      &--mobile {
        margin: 12px 0 0 0;
      }
    }

    .body {
      color: rgba(255, 255, 255, 0.55);
      @include font-size(14px);
      font-weight: 100;
      margin-bottom: 36px;

      &--mobile {
        margin-bottom: 0;
      }
    }

    .cta {
      margin-top: 30px;
      color: rgba(40, 162, 199, 0.85);
      @include font-size(17px);
      font-weight: 500;
      cursor: pointer;
    }

    .price {
      margin: 18px 0 0 24px;
    }

    .responseLabel {
      @include font-size(13px);
      line-height: 15px;
      color: rgba(255, 255, 255, 0.70);
      text-align: center;
      padding-top: 20px;
    }

    .response {
      img {
        max-width: 100%;
      }
    }
  }
}

.carousel {


  .carouselImage {
    width: 130% !important;
    position: relative;
    margin: 50px 0 0 -23%;
    z-index: 1000;

    &--mobile {
      margin: 48px 0 0 -23%;
    }
  }
}

.aboutHeader {

  &--desktop {
    position: relative;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    margin: 20px 0 40px;
    @include font-size(16px);
    font-weight: 500;
  }

  &--mobile {
    position: relative;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    margin: 0 0 40px;
    padding: 24px 18px 18px;
    @include font-size(16px);
    font-weight: 500;

  }

}

.aboutSubheader {
  padding-left: 0;
  margin-top: 24px;

  &--desktop {
    width: 100%;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
    @include font-size(14px);
    font-weight: 500;
  }

  &--mobile {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    @include font-size(14px);
    font-weight: 500;
    padding-bottom: 20px;

  }

}

.aboutText {

  padding: 0 0 18px !important;

  &--mobile {
    padding: 0 20px 18px;
    @include font-size(13px);
    line-height: 17px;
    color: rgba(255, 255, 255, 0.60);
    margin-top: -18px;
  }

  &--desktop {
    padding: 0 20px 18px;
    @include font-size(13px);
    line-height: 17px;
    color: rgba(255, 255, 255, 0.60);
  }

}
