.ant-menu-horizontal {
  border-bottom: none !important;

  .ant-menu-submenu-selected {
    color: #fffffd;
    border-bottom: 1px solid rgba(230, 204, 142, 0);
  }
}

.ant-menu-item.ant-menu-selected {
  border-bottom: 1px solid rgba(230, 204, 142, 0);
}

.ant-menu-item {
  height: 60px;
  line-height: 60px;
}

.ant-menu-submenu-title {
  height: 58px;
  line-height: 58px;
}

.ant-menu-submenu-popup {
  background: rgba(59, 59, 59, 0.9);
}

.ant-dropdown-menu-item {
  color: rgb(145, 199, 216)
}

.ant-modal {
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 0;
  opacity: 0.97;
  background: linear-gradient(rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 100%);

  .ant-modal-content {
    border-radius: 12px;
  }
}

.ant-list-bordered {
  border: 1px solid rgba(217, 217, 217, 0.3) !important;
  overflow: hidden;
}

.ant-list-item {
  border-bottom: 1px solid rgba(217, 217, 217, 0.3) !important;

  &:last-child {
    border-bottom: none !important;
  }
}