.ant-menu-horizontal {
  border-bottom: none !important;

  .ant-menu-submenu-selected {
    color: #fffffd;
    border-bottom: 1px solid rgba(230, 204, 142, 0);
  }
}

.ant-menu-item.ant-menu-item-selected {
  border-bottom: 2px solid rgba(230, 204, 142, 1);
}

.ant-menu-item {
  height: 60px;
  line-height: 60px;
}

.ant-menu-submenu-title {
  height: 58px;
  line-height: 58px;
}

.ant-menu-submenu-popup {
  background: rgba(59, 59, 59, 0.9);
}

.ant-dropdown-menu-item {
  color: rgb(145, 199, 216)
}

.ant-modal {
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 0;
  opacity: 0.97;
  background: linear-gradient(rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 100%);
  border: 1px solid rgba(230, 204, 142, .4);

  .ant-modal-header {
    background: rgba(59, 59, 59, 0.90);
    border-bottom: 1px solid rgba(230, 204, 142, .4);

    span {
      color: rgba(230, 204, 142, 1);
    }
  }

  .ant-modal-body {
    color: rgba(255,255,255,.75) !important;
  }

  .ant-modal-content {
    border-radius: 12px;
    background: rgba(59, 59, 59, 0.90);
    color: rgba(255,255,255,0.55);

    .ant-modal-close-x {
      color: rgb(40, 162, 199)
    }
  }
}

.ant-list-bordered {
  border: 1px solid rgba(217, 217, 217, 0.3) !important;
  overflow: hidden;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-list-item {
  border-bottom: 1px solid rgba(217, 217, 217, 0.3) !important;

  &:last-child {
    border-bottom: none !important;
  }
}

.ant-breadcrumb-link a, .ant-breadcrumb-separator {
  color: rgb(145, 199, 216);
}

.slick-list {
  overflow: visible !important;
}

.slick-dots {
  display: none !important;
}

.ant-message-notice-content {
  background-color: #333;
  color: rgba(255,255,255,.75);
  border: 1px solid rgba(230, 204, 142, .4);
}

.ant-message-custom-content {
  background-color: #333;
}